body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #282828;
  color: white;
}
.main-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
